/* Cores
.Principal { color: #012030; }
.Background { color: #13678A; }
.cor1 { color: #45C4B0; }
.cor2 { color: #9AEBA3; }
.cor3 { color: #DAFDBA; }
 */

html{
    background: #13678A ;
    color: #9AEBA3 ;
    font-size: 20px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

p{
    text-indent: 1em;
}

h1, h2 , h3{
    text-align: center;
}

h1{
    font-size: 1.8rem;
}

h2{
    font-size: 1.4rem;
}

h3{
    font-size: 1.2rem;
}

.summary{
    text-align: right;
}

.main p{
    line-height: 1.5;
}

abbr{
    font-variant: small-caps;
}