/* Cores
.Principal { color: #012030; }
.Background { color: #13678A; }
.cor1 { color: #45C4B0; }
.cor2 { color: #9AEBA3; }
.cor3 { color: #DAFDBA; }
 */

html{
    background: #13678A ;
    color: #9AEBA3 ;
}