/* Cores
.Crevasse-1-hex { color: #B4BEC9; }
.Crevasse-2-hex { color: #159A9C; }
.color { color: #002333; }
.Background { color: #DEEFE7; }
.Crevasse-5-hex { color: #FFFFFF; } */




html{
    background: #DEEFE7 ;
    color: #002333 ;
    font-size: 18px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

p{
    text-indent: 1em;
}

h1, h2 , h3{
    text-align: center;
}

h1{
    font-size: 1.8rem;
}

h2{
    font-size: 1.4rem;
}

h3{
    font-size: 1.2rem;
}

.summary{
    text-align: right;
}

.main p{
    line-height: 1.5;
}

abbr{
    font-variant: small-caps;
}

body{
    width: 80%;
    max-width: 1280px;
    margin: 0 auto;
}

.intro{
    height: 550px;
}

#design-archives{
    display: none;
}

header{
    background-color: #159A9C;
    color: #FFFFFF;
}

header h1,h2{
    display: inline-block;
    margin: 1em;
}

li{
    list-style: none;
    text-align: center;
    margin-top: 1em;
}


footer{
    background-color: #159A9C;
    padding: 4%;  
}

footer a {
    color: #FFFFFF;
    border: solid  2px #002333;
    padding: 0.5em;
    text-decoration: none;
}