html{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

body{
    display: flex;
    max-width: 1280px;
    width: 80%;
    margin: auto;
}

h1,h2{
    color: #201D73;
}

.secao_dados > img{
    width: 180px;
    border: solid #201D73 4px ;
    border-radius: 100px;
}
.container_dados img , .secao_redes img{
    width: 20px;
    padding-right: 8px;
}

header{
    border-left: #201D73 solid 40px ;
    margin-right: 25px;
    padding-top: 10px;
    background-color: #201d732f;
    padding-bottom: calc(100vw - 100%);
}

header p {
    margin: 10px 0;
    font-size: 14px;
}

h1{
    margin-top: 10px;
}

.line{
    border-bottom: solid rgba(0, 0, 0, 0.116) 2px;
    padding-bottom: 5px;
    margin: 20px 0;
}

.secao_resumo h1{
    font-size: 2rem;
}

.secao_resumo p {
    text-indent: 1rem;
    font-family: Arial, Helvetica, sans-serif;
}


.secao_educacao th{
    text-align: start;

}

.secao_educacao td{
    padding-bottom: 10px;
}


.secao_experiencia tr{
    display: flex;
}

.secao_experiencia th{
    padding-right : 30px;
    text-align: center;
}

.secao_habilidades ul{
    padding-left: 30px;
    margin-bottom: 15px;
}

.secao_dados{
    padding: 0 15px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.container_dados p {
    display: flex;
}

.container_experiencia ul{
    margin-left: 30px;
    margin-top: 5px;
}

.secao_redes a {
    display: flex;
    margin-top: 10px;
}

.secao_redes {
    border-top: solid rgba(0, 0, 0, 0.116) 2px;
    padding: 10px 0;
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
}

.copy{
    text-align: center;
    margin-top: 30px;
}

.menu{
    position: sticky;
    top: 0;
    background-color: #201D73;
}

.menu ul{
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
}

.menu ul li{
   list-style: none;
   padding: 10px 0;
}

.menu ul li:hover{
    background-color: #0800ff;
 }

.menu ul li a{
    padding: 10px;
    text-decoration: none;
    color: #ffff;
 }
 

@media all and (max-width: 768px){
    body{
        flex-direction: column;
        width: 90%;
    }


    header{
        height: auto;
        margin-right: 0;
        padding: 0;
    }
    .secao_dados{
        justify-content: space-around;
        flex-wrap: wrap;
        width: auto;
        flex-direction: row;
    }

    .secao_dados h2{
        margin-top: 0;
    }

    .secao_dados > img{
       height: 150px;
       width: 150px;
       margin: 15px 0;
    }

    .line{
        margin: 5px 0;
    }

    .secao_resumo h1{
        font-size: 1.5rem;
    }
    h2{
        font-size: 1.3rem;
    }

}

@media print {
    .menu{
        display: none;
    }
}