* { 
    margin: 0; 
    padding: 0; 
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}


main {
    margin: auto;
    max-width: 1024px;
    width: 95%;

}
body{
    background-color: #f8f9fa;
}

nav img{
    width: 130px;
}

.div_header{
    width: 100%;
    background-color: rgb(0, 0, 0);
    top: 0;
    position: fixed;
    z-index: 1;
}

.div_nav{
    margin: auto auto;
    max-width: 1024px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

#lista_rotas{
    list-style: none;
    display: flex;
 }


 #lista_rotas li a{
    text-decoration: none;
    color: white;
    font-size: 1.2em;
    padding: 50px 20px;
 }

 #lista_rotas li a:hover{
    color: #FF6347;
    font-size: 1.8em;
    transition: 0.5s
 }

 footer{
    background-color: black;
    width: 100%;
    padding: 40px 0;
 }

.div_footer{
    margin: auto;
    display: flex;
    justify-content: space-between;
    max-width: 1024px;
    padding: 20px;
}

.contato_footer ul{
    list-style: none;
}

.contato_footer ul li{
    color: white;
    margin-top: 10px;
}

.contato_footer h3 {
    color: #FF6347;
}

.menu_footer a{
    text-decoration: none;
    color: white;
    margin-top: 10px;
}

.menu_footer a:hover{
    color: #FF6347;
    font-size: 1.5em;
    transition: 0.5s
 }


.menu_footer{
    display: flex;
    flex-direction: column;
}

.div_footer nav h3{
    color: #FF6347;
}

.carousel {
    margin-top: 115px;
    position: relative;
    width: 100%;
    max-width: 1024px;
    overflow: hidden;
    border: 2px solid #ccc;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

.carousel-container {
    display: flex;
    transition: transform 0.5s ease-in-out;
}

.carousel-slide {
    min-width: 100%;
    height: auto;
}

.carousel-slide img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.prev-btn, .next-btn {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    background-color: rgba(0, 0, 0, 0.5);
    color: white;
    border: none;
    padding: 10px;
    cursor: pointer;
    font-size: 24px;
}

.prev-btn {
    left: 10px;
}

.next-btn {
    right: 10px;
}

.prev-btn:hover, .next-btn:hover {
    background-color: rgba(0, 0, 0, 0.7);
}

section details {
    margin-bottom: 20px;
}
section details summary{
    background-color: tomato;
    color: white;
    font-weight: 600;
    padding: 2%;
    border-bottom: 2px solid black;
}

section details p{
   background-color: #282828;
   color: white;
   padding: 20px;
}

.planos{
    display: flex;
    flex-wrap: wrap;
    margin-top: 50px;
}

h1{
    font-size: 2.5em;
}
.container_planos h1{

    text-align: center;
    padding: 15px 0;
    border-bottom: 2px solid rgb(73, 73, 73);
}

.item_plano{
    box-shadow: 2px 3px 3px rgba(5, 5, 5, 0.226);
    width: 30%;
    border: 1px solid black;
    margin: 0 0.8%;
    padding: 5px;
    text-align: center;
    position: relative;
}

.plano_valor h3{
    text-align: center;
    margin-top: 7%;
    font-size: 1.7em;
    color: white;
}

.plano_valor{
    display: flex;
    flex-direction: column;
    position: relative;
    background-color: #ff6347;
    width: 90%;
    height: 150px;
    top: -8%;
    left: 3%;
    box-shadow: 5px 5px 5px rgba(5, 5, 5, 0.226);
    padding: 5px;
}

.lista_plano{
    list-style: none;
    margin-top: -30px;
}

.lista_plano li{
   padding: 10px;
   font-weight: 600;
   text-align: start;
   display: flex;
   align-items: center;
}

.lista_plano img{
    margin-right: 10px;
    width: 20px;
}

.container_planos{
    display: flex;
    flex-direction: column;
}
.container_planos button{
    padding: 15px 60px;
    color: white;
    background-color: tomato;
    font-size: 1.6em;
    border-radius: 15px;
    max-width: 300px;
    margin: 20px auto;
}

.sobre{
    display: flex;
    margin-top: 50px;
}

.sobre img{
    width: 400px;
    margin-right: 20px;
}

.sobre p{
    text-align: justify;
    font-size: 1.5em;
    margin-top: 15px;
}

.item_modalidade img{
    width: 40%;
}

.img-inf img{
    margin-right: 50px;
}

.inf-img img{
    margin-left: 50px;
}

.item_modalidade {
    margin-top: 50px;
    display: flex;
    width: 100%;
}

.item_modalidade h4{
    padding-bottom:20px;
    font-size: 2em;
}

.informacao_item p {
    text-align: justify;
}


.modalidade h2{
    text-align: center;
    font-size: 2.5em;
    padding-bottom: 20px;
    border-bottom: 2px solid rgb(73, 73, 73);
}

.modalidade{
    margin: 30px 0;
}

.duvidas h1{
    text-align: center;
    margin: 20px 0;
    padding-bottom: 20px;
    border-bottom: 2px solid rgb(73, 73, 73);
}

.duvidas{
    margin: 50px 0;
    
}

.enderecos{
    display: flex;
    margin-top: 50px;
}

.enderecos div{
    width: 50%;
    padding-right: 40px;
}

.enderecos p{
    text-align: justify;
    margin-top: 20px;
    line-height: 1.5em
}


@media (max-width: 768px) {
    .prev-btn, .next-btn {
        font-size: 18px;
        padding: 8px;
    }

    .div_nav{
        flex-direction: column;
    }

    .div_nav img{
        width: 120px;
    }

    #lista_rotas li{
        padding: 10px;

    }
    #lista_rotas li a{
        padding: 10px;
  
    }
    #lista_rotas {
       flex-wrap: wrap;
        justify-content: center;
        width: 90%;
    }
   

    .item_modalidade img {
        display: none;
    }
    .item_modalidade  {
       margin-top: 20px;
    }
    

    .planos{
        flex-direction: column;
        margin-top: 5px;
    }

    .container_planos{
        display: flex;
        align-items: center;
    }

    .item_plano{
        width: 100%;
        margin: 10px 0 0 0;
    }
    .enderecos{
        flex-direction: column;
        align-items: center;
    }
    .enderecos h1{
       text-align: center;
    }
    .enderecos div{
        width: 100%;
        padding: 10px 40px;
    }

    .sobre img{
        display: none;
    }

    .carousel {
        margin-top: 150px;
    }
}

@media (max-width: 986px) {
    .sobre img{
        width: 35%;
    }
    
    .sobre p{
        font-size: 1.3em;
        padding: 5px;
    }


}


@media (max-width: 630px) {
.carousel {
    margin-top: 185px;
}
}
